<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap&subset=chinese-traditional"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Trash Talk Generator</title>
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-light">
    <a href="/" class="navbar-brand">幹話產生器</a>
  </nav>

  {{{ body }}}

  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>